// 拍手+
.ua-applause.c-clapIcon {
	margin-left: 0 !important;
	// +
	> span {
		position: absolute;
		top: 0;
		right: 0;
		color: #f19935;
		font-weight: bold;
		font-size: 1.2em;
		user-select: none;
	}
	&.is-disable {
		pointer-events: none;
		> span {
			opacity: 0.5;
		}
	}
}

// x1, x3, x5
.ua-applause-parent {
	// 拍手+の右に移動
	.c-bulkClapTooltipWrap {
		left: 84px !important;
	}
	&.ua-hover .c-bulkClapTooltipWrap {
		visibility: visible;
		opacity: 1;
	}
}

// サイドメニューに追加される背景
.ua-sidemenu-backdrop {
	transition: opacity 0.5s, visibility 0.5s;
	visibility: hidden;
	opacity: 0;
	pointer-events: visible;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 149; // ヘッダーのz-index(150) - 1
	background-color: rgba(0, 0, 0, 0.5);
	&.ua-show {
		visibility: visible;
		opacity: 1;
	}
}

// ヘッダーのプロフィールアイコンを押したときに表示されるメニュー
.c-headerProfile_menu {
	user-select: none;
}

// 2022-08-16
// ↓が書かれた<style/>より後に、通常時の<style/>を書いてあるので
// メディアクエリによるスタイルが反映されないバグが起きているようだ。
// サイドメニューを出したら閉じれない...のは困るので、
// 無理やりではあるが拡張機能側で暫定対応。
@media screen and (max-width: 1212px) {
	.c-sideHamburgerBtn {
		display: block !important;
	}
}
